form {
    display: flex;
    flex-direction: column;
}
button {
    margin: 20px 15px 0px 0px;
}

.container mat-form-field{
    margin-left: 10px;
    width: 400px;
}
.nome-cpf mat-form-field{
    width: 605px;

}
